<h1>Pages#batman-vs-superman</h1>
<p>Find me in app/views/pages/batman-vs-superman.html.erb</p>


<IMG SRC="http://cache.lego.com/r/catalogs/-/media/catalogs/characters/dc/mugshots/76040-superman_1488x1984_mugshot_360w_2x.png?l.r=-1848917720" WIDTH=140 HEIGHT=210 BORDER=0 ALT="superman">
  <%= link_to 'superman', pages_superman_path	 %>
<IMG SRC="http://cache.lego.com/r/catalogs/-/media/catalogs/characters/dc/mugshots/mugshot%202016/76061_1to1_mf_batman_336.png?l.r2=-798905063" WIDTH=140 HEIGHT=210 BORDER=0 ALT="batman">
<%= link_to 'batman', pages_batman_path	 %>
