

<h1>Pages#batman</h1>
<p>Find me in app/views/pages/batman.html.erb</p>


<IMG SRC="http://cache.lego.com/r/catalogs/-/media/catalogs/characters/dc/mugshots/mugshot%202016/76061_1to1_mf_batman_336.png?l.r2=-798905063" WIDTH=140 HEIGHT=210 BORDER=0 ALT="batman">


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="//localhost:3000/assets/javascripts/jquery.min.js"></script>
<script>
  // To attach Backstrech as the body's background
  $.backstretch("/http://cache.lego.com/r/catalogs/-/media/catalogs/characters/dc/mugshots/mugshot%202016/76061_1to1_mf_batman_336.png?l.r2=-798905063");
  </script>
