<h1>Pages#superman</h1>

<p>This looks like a job for superman</p>


<IMG SRC="http://cache.lego.com/r/catalogs/-/media/catalogs/characters/dc/mugshots/76040-superman_1488x1984_mugshot_360w_2x.png?l.r=-1848917720" WIDTH=140 HEIGHT=210 BORDER=0 ALT="superman">


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="//localhost:3000/assets/javascripts/jquery.min.js"></script>
<script>
  // To attach Backstrech as the body's background
  $.backstretch("/http://cache.lego.com/r/catalogs/-/media/catalogs/characters/dc/mugshots/76040-superman_1488x1984_mugshot_360w_2x.png?l.r=-1848917720");
  </script>
