
<head>
  <link rel="stylesheet" type="text/css" href="app/stylesheets/page2.css">
</head>

<body class="experiments page2">
<h1>Experiments#page2</h1>
<p>Find me in app/views/experiments/page2.html.erb</p>

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra vitae leo vel feugiat. Quisque blandit, mi vitae semper congue, ante tortor facilisis libero, ut consectetur turpis odio et enim. Quisque molestie diam non turpis pretium imperdiet. Morbi ac ipsum auctor, porttitor tortor sit amet, consequat turpis. Suspendisse turpis justo, fermentum accumsan aliquam sed, lobortis a mauris. Quisque fermentum ut libero nec eleifend. Sed sodales, metus at ultricies tempor, nibh nisi efficitur nibh, eu imperdiet magna metus at lectus. In eu justo turpis. Sed dolor libero, sagittis congue metus porttitor, fringilla viverra arcu. Etiam iaculis auctor odio, euismod semper ante vehicula ac. Nullam dui lectus, placerat eget rutrum eget, mattis a augue. Nullam accumsan sem blandit erat commodo tincidunt. Aenean quis maximus nulla.</p>
</body>
