<!DOCTYPE html>
<html>
<head>


  <title>Superheroes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="container">
  	<div class="row">
          <hr class="hr-primary" />
          <ol class="breadcrumb bread-primary ">
            <button href="#" class="btn btn-primary"><i class="fa fa-newspaper-o"></i> Paginas</button>
              <li><a href="/experiments/page1">Pagina1</a></li>
              <li><a href="/experiments/page2">Pagina2</a></li>
              <li><a href="/experiments/page3">Pagina3</a></li>
          </ol>

<%= yield %>

</body>
</html>
